{
	"presets": [
		"env",
		"react",
		"stage-0"
	],
	"plugins": [
		"system-import-transformer",
		"transform-object-assign",
		["styled-components", { "ssr": true,	"displayName": true,  "preprocess": false }] 
    ]
}