{
	"presets": [
		["@babel/preset-env", { "useBuiltIns": "usage" }],
		"@babel/preset-react",
		["@babel/preset-stage-0", { "decoratorsLegacy": true }]
	],
	"plugins": [
		"syntax-dynamic-import",
		"@babel/plugin-transform-object-assign",
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		]
	]
}
