{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react",
		["@babel/preset-stage-0", { "decoratorsLegacy": true }]
	],
	"plugins": [
		"@babel/plugin-transform-object-assign",
		"react-docgen",
		[
			"transform-imports",
			{
				"..": {
					"transform": "./../../babel-transform-shiny.js",
					"preventFullImport": true,
					"skipDefaultConversion": true
				}
			}
		]
	],
	"env": {
		"production": {
		"plugins": [["emotion", { "hoist": true }]]
		},
		"development": {
		"plugins": [["emotion", { "sourceMap": true, "autoLabel": true }]]
		}
	}
}
