@import "../themes/dagbladet/colors";

.label {
  background-color: $colors-primary;
  color: #333;
  display: inline-block;
  font-family: 'Roboto', 'Helvetica', Helvetica, Arial, sans-serif;
  /* font-size: 0.6875rem; */
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: auto;
  margin-right: 1px;
  padding: 0.25rem 0.5rem 0.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &.blue { background-color: $colors-blue; }
  &.pink { background-color: $colors-pink; }
  &.purple { background-color: $colors-purple; }
  &.yellow { background-color: $colors-yellow; }
  &.orange { background-color: $colors-orange; }
  &.burgundy { background-color: $colors-burgundy; }
  &.secondary { background-color: $colors-secondary; }
  &.brown { background-color: $colors-brown; }
  &.teal { background-color: $colors-teal; }
  &.navy { background-color: $colors-navy; }
  &.green { background-color: $colors-green; }
}
